// Utils
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
// Base
@import "./base/base";
// Components
// Layouts
@import "./layouts/header";
@import "./layouts/footer";
// Pages
@import "./pages/index";
@import "./pages/page";

.loading-spinner {

    &__content {
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: white;
        width: 100vw;
        height: 100vh;
        color: black;
        
        animation: spinner-desappear 0.5s;
        animation-delay: 3s;
        animation-fill-mode: both;

        &__text {
            position: relative;
            top: 45%;
            width: 230px;
            height: 60px;
            margin: auto;
            font-family: Shrikhand;
            font-size: 42px;

            &__item {
                position: absolute;
                width: fit-content;
                
                animation: spinner-text-appear 3s infinite;
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                animation-fill-mode: both;
                

                &--oh {
                    left: 0;
                    animation-delay: 0.33s;
                    color: $color-primary;
                }
    
                &--my {
                    left: 56px;
                    animation-delay: 0.66s;
                    color: $color-secondary;
                }
    
                &--food {
                    left: 126px;
                    animation-delay: 1s;
                    color: $color-terciary;
                }
            }
        }

        @include desktop-mode {
            max-width: 1280px;
        }
    }
}