* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
body .bloc-page {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  body .bloc-page {
    width: 1024px;
    margin: auto;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
header a {
  position: absolute;
  left: 20px;
  font-size: larger;
  color: #4d4d4d;
}
header img {
  width: 150px;
  height: auto;
}

footer {
  color: white;
  font-size: 15px;
  font-weight: 400;
  background-color: #383838;
  padding: 20px 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer h1 {
  margin-bottom: 10px;
  font-family: Shrikhand;
  font-size: large;
}
footer i {
  margin-right: 10px;
}
footer a {
  color: white;
}

.bloc-location {
  height: 50px;
  background-color: #e6e6e6;
  box-shadow: inset 0 3px 3px 0 #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.bloc-location__icon {
  color: #4d4d4d;
}
.bloc-location__text {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
}

.bloc-catch {
  padding: 40px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.bloc-catch__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.bloc-catch__text {
  width: 90vw;
  text-align: center;
}
.bloc-catch__button {
  padding: 15px 25px;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 8px 8px #d6d6d6;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.bloc-manual {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloc-manual__title {
  font-size: 24px;
  font-weight: 700;
}
.bloc-manual__button {
  margin-left: 10px;
  position: relative;
  padding: 25px;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-shadow: 0 8px 8px #d6d6d6;
  display: flex;
  align-items: center;
  gap: 20px;
}
.bloc-manual__button__index {
  position: absolute;
  left: -10px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 4px 7px 2px;
}
.bloc-manual__button__icon {
  padding-left: 10px;
  color: #4d4d4d;
}
.bloc-manual__button__text {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.bloc-restaurants {
  padding: 50px 20px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bloc-restaurants__title {
  font-size: 24px;
  font-weight: 700;
}
.bloc-restaurants__card {
  position: relative;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 8px #d6d6d6;
}
.bloc-restaurants__card__img {
  top: -10px;
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.bloc-restaurants__card__name {
  margin: 10px 0 0 10px;
  font-weight: 600;
}
.bloc-restaurants__card__place {
  margin: 5px 0 0 10px;
}
.bloc-restaurants__card__new {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #3E9C7D;
  width: max-content;
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #9EE2CE;
  font-size: 14px;
  font-weight: 500;
  display: none;
}
.bloc-restaurants__card--new .bloc-restaurants__card__new {
  display: unset;
}
.bloc-restaurants__card__like {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 28px;
  color: #999999;
  transition: color 0.5s;
}
.bloc-restaurants__card__like:hover {
  color: #FF79DA;
  font-weight: bold;
  cursor: pointer;
}

.bloc-menu {
  background-color: #F7F7F7;
}
.bloc-menu__image {
  width: 100%;
  height: 65vw;
  object-fit: cover;
}
.bloc-menu-ahead {
  position: relative;
  top: -40px;
  box-sizing: border-box;
  width: 100%;
  background-color: #F7F7F7;
  border-radius: 40px 40px 0 0;
  padding: 40px 20px 0 20px;
}
.bloc-menu-ahead__title {
  width: 75%;
  margin-bottom: 30px;
  font-family: Shrikhand;
  font-size: x-large;
}
.bloc-menu-ahead__like {
  position: absolute;
  top: 45px;
  right: 40px;
  font-size: 28px;
  color: #999999;
  transition: color 0.5s;
}
.bloc-menu-ahead__like:hover {
  color: #FF79DA;
  font-weight: bold;
  cursor: pointer;
}
.bloc-menu-ahead__category {
  margin-bottom: 40px;
}
.bloc-menu-ahead__category__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  width: 40px;
  padding-bottom: 5px;
  border-bottom: 3px solid #9EE2CE;
}
.bloc-menu-ahead__category__product {
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0 8px 8px #d6d6d6;
  margin-top: 15px;
  padding: 10px 20px 10px 10px;
  border-radius: 15px;
  transition: border 0.3s;
  border-color: #9EE2CE;
}
.bloc-menu-ahead__category__product div {
  display: grid;
  grid: auto-flow/85% 15%;
}
.bloc-menu-ahead__category__product__title {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bloc-menu-ahead__category__product__text {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bloc-menu-ahead__category__product__price {
  text-align: right;
  font-weight: 500;
  font-size: 15px;
}
.bloc-menu-ahead__category__product__check {
  position: absolute;
  top: 25px;
  right: 22px;
  color: transparent;
  transition: all 0.3s;
}
.bloc-menu-ahead__category__product:hover {
  border-right: 60px solid #9EE2CE;
}
.bloc-menu-ahead__category__product:hover > .bloc-menu-ahead__category__product__check {
  color: white;
  transform: translateX(60px);
}
.bloc-menu-ahead__button {
  padding: 15px 25px;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 8px 8px #d6d6d6;
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin: auto;
  width: 40%;
  min-width: max-content;
  text-align: center;
}

.loading-spinner__content {
  position: fixed;
  top: 0;
  z-index: 1;
  border: 1px solid red;
  background-color: white;
  width: 100vw;
  height: 100vh;
  color: black;
}

/*# sourceMappingURL=style.css.map */
