@keyframes spinner-text-appear {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}
@keyframes spinner-desappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes product-appear {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
body .bloc-page {
  width: 100%;
}
@media screen and (min-width: 1025px) {
  body .bloc-page {
    max-width: 1280px;
    margin: auto;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

.loading-spinner__content {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  z-index: 1;
  animation: spinner-desappear 0.5s;
  animation-fill-mode: both;
  animation-delay: 3s;
}
.loading-spinner__content__text {
  position: relative;
  top: 45%;
  width: 230px;
  height: 60px;
  margin: auto;
  font-family: Shrikhand;
  font-size: 42px;
}
.loading-spinner__content__text__item {
  position: absolute;
  width: fit-content;
  animation: spinner-text-appear 3s infinite;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.loading-spinner__content__text__item--oh {
  left: 0;
  color: #9356DC;
  animation-delay: 0.33s;
}
.loading-spinner__content__text__item--my {
  left: 56px;
  color: #FF79DA;
  animation-delay: 0.66s;
}
.loading-spinner__content__text__item--food {
  left: 126px;
  color: #99E2D0;
  animation-delay: 1s;
}
@media screen and (min-width: 1025px) {
  .loading-spinner__content {
    max-width: 1280px;
  }
}

.location {
  height: 50px;
  background-color: #e6e6e6;
  box-shadow: inset 0 3px 3px 0 #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.location__icon {
  color: #4d4d4d;
}
.location__text {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
}

.action-button {
  padding: 15px 25px;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 8px 8px #d6d6d6;
  transition: box-shadow 0.5s;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.5s, box-shadow 0.5s;
}
.action-button:hover {
  box-shadow: 0 12px 12px #bdbdbd;
}
.action-button:hover {
  opacity: 0.8;
}

.manual-button {
  position: relative;
  padding: 25px;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-shadow: 0 8px 8px #d6d6d6;
  transition: box-shadow 0.5s;
  display: flex;
  align-items: center;
  gap: 20px;
}
.manual-button:hover {
  box-shadow: 0 12px 12px #bdbdbd;
}
.manual-button__index {
  position: absolute;
  left: -10px;
  padding: 4px 7px 2px;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.manual-button__icon {
  padding-left: 10px;
  color: #4d4d4d;
}
.manual-button__text {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.restaurant-card {
  position: relative;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 8px #d6d6d6;
  transition: box-shadow 0.5s;
}
.restaurant-card:hover {
  box-shadow: 0 12px 12px #bdbdbd;
}
.restaurant-card__like {
  position: absolute;
  right: 20px;
  bottom: 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: -1px 0 #ababab, 0 1px #ababab, 1px 0 #ababab, 0 -1px #ababab;
  font-size: 28px;
  color: #FFFFFF;
  transition: color 1s, text-shadow 0.1s;
}
.restaurant-card__like:hover {
  cursor: pointer;
  text-shadow: 0 0 transparent;
  color: transparent;
}
.restaurant-card__img {
  top: -10px;
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurant-card__name {
  margin: 10px 0 0 10px;
  font-weight: 600;
}
.restaurant-card__place {
  margin: 5px 0 0 10px;
}
.restaurant-card__new {
  position: absolute;
  top: 10px;
  right: 10px;
  width: max-content;
  padding: 6px 12px;
  border-radius: 3px;
  background-color: #9EE2CE;
  color: #3E9C7D;
  font-size: 14px;
  font-weight: 500;
  display: none;
}
.restaurant-card--new .restaurants__card__new {
  display: unset;
}

.product-card {
  position: relative;
  padding: 10px 20px 10px 10px;
  border-radius: 15px;
  border-color: #9EE2CE;
  background-color: #FFFFFF;
  box-shadow: 0 8px 8px #d6d6d6;
  transition: box-shadow 0.5s;
  transition: border-right 0.5s, box-shadow 0.5s;
}
.product-card:hover {
  box-shadow: 0 12px 12px #bdbdbd;
}
.product-card div {
  display: grid;
  grid: auto-flow/85% 15%;
}
.product-card__title {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-card__text {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-card__price {
  text-align: right;
  font-weight: 500;
  font-size: 15px;
}
.product-card__check {
  position: absolute;
  top: 25px;
  right: -38px;
  color: transparent;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.product-card:hover {
  border-right: 60px solid #9EE2CE;
}
.product-card:hover > .product-card__check {
  opacity: 1;
  color: white;
  transform: rotate(-360deg);
}

header {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  width: 150px;
  height: auto;
}
header a {
  position: absolute;
  left: 20px;
  color: #4d4d4d;
  font-size: larger;
}

.catch {
  padding: 40px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.catch__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.catch__text {
  text-align: center;
}
.catch__button {
  margin-top: 10px;
}
@media screen and (min-width: 1025px) {
  .catch {
    width: 50%;
    background-color: #FFFFFF;
    order: 2;
  }
}

.manual {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.manual__title {
  font-size: 24px;
  font-weight: 700;
}
.manual__button {
  margin-left: 10px;
}
@media screen and (min-width: 513px) {
  .manual__button {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
@media screen and (min-width: 513px) and (max-width: 1024px) {
  .manual {
    padding: 40px 16%;
  }
}
@media screen and (min-width: 1025px) {
  .manual {
    width: 50%;
  }
}

.restaurants {
  padding: 50px 20px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants__title {
  font-size: 24px;
  font-weight: 700;
  grid-column: 1/3;
}
@media screen and (min-width: 513px) {
  .restaurants {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-around;
    align-content: space-around;
  }
}

.menu {
  background-color: #F7F7F7;
}
.menu__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.menu-ahead {
  position: relative;
  top: -40px;
  width: 100%;
  padding: 40px 20px 0 20px;
  border-radius: 40px 40px 0 0;
  background-color: #F7F7F7;
  box-sizing: border-box;
}
.menu-ahead__title {
  width: 75%;
  margin-bottom: 30px;
  font-family: Shrikhand;
  font-size: x-large;
}
@media screen and (min-width: 1025px) {
  .menu-ahead__title {
    grid-column: 1/4;
  }
}
.menu-ahead__category {
  margin-bottom: 40px;
}
.menu-ahead__category__title {
  width: 40px;
  padding-bottom: 5px;
  border-bottom: 3px solid #9EE2CE;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}
.menu-ahead__category__product {
  margin-top: 15px;
  animation: product-appear 0.3s;
  animation-fill-mode: both;
}
.menu-ahead__category__product:nth-child(2) {
  animation-delay: 0.15s;
}
.menu-ahead__category__product:nth-child(3) {
  animation-delay: 0.3s;
}
.menu-ahead__category__product:nth-child(4) {
  animation-delay: 0.45s;
}
.menu-ahead__category__product:nth-child(5) {
  animation-delay: 0.6s;
}
.menu-ahead__category__product:nth-child(6) {
  animation-delay: 0.75s;
}
.menu-ahead__category__product:nth-child(7) {
  animation-delay: 0.9s;
}
.menu-ahead__button {
  width: 40%;
  min-width: max-content;
  margin: auto;
  display: block;
}
@media screen and (min-width: 1025px) {
  .menu-ahead__button {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 512px) {
  .menu-ahead__like {
    position: absolute;
    top: 45px;
    right: 40px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: -1px 0 #ababab, 0 1px #ababab, 1px 0 #ababab, 0 -1px #ababab;
    font-size: 28px;
    color: #F7F7F7;
    transition: color 1s, text-shadow 0.1s;
  }
  .menu-ahead__like:hover {
    cursor: pointer;
    text-shadow: 0 0 transparent;
    color: transparent;
  }
}
@media screen and (min-width: 513px) and (max-width: 1024px) {
  .menu-ahead {
    padding: 40px 16% 0 16%;
  }
  .menu-ahead__like {
    position: absolute;
    top: 45px;
    right: 18%;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: -1px 0 #ababab, 0 1px #ababab, 1px 0 #ababab, 0 -1px #ababab;
    font-size: 28px;
    color: #F7F7F7;
    transition: color 1s, text-shadow 0.1s;
  }
  .menu-ahead__like:hover {
    cursor: pointer;
    text-shadow: 0 0 transparent;
    color: transparent;
  }
}
@media screen and (min-width: 1025px) {
  .menu-ahead {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-around;
    align-content: space-around;
  }
  .menu-ahead__like {
    position: absolute;
    top: 45px;
    right: 40px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: -1px 0 #ababab, 0 1px #ababab, 1px 0 #ababab, 0 -1px #ababab;
    font-size: 28px;
    color: #F7F7F7;
    transition: color 1s, text-shadow 0.1s;
  }
  .menu-ahead__like:hover {
    cursor: pointer;
    text-shadow: 0 0 transparent;
    color: transparent;
  }
}

footer {
  background-color: #383838;
  padding: 20px 20px 40px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer h1 {
  margin-bottom: 10px;
  font-family: Shrikhand;
  font-size: large;
}
@media screen and (min-width: 513px) {
  footer h1 {
    grid-column: 1/3;
  }
}
footer i {
  margin-right: 10px;
}
footer a {
  color: white;
}
@media screen and (min-width: 513px) {
  footer {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  footer a:nth-child(2) {
    order: 1;
  }
  footer a:nth-child(3) {
    order: 3;
  }
  footer a:nth-child(4) {
    order: 2;
  }
  footer a:nth-child(5) {
    order: 4;
  }
}

.presentation {
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .presentation {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
