.location {
    height: 50px;
    background-color: darken($background-color-primary, 10%);
    box-shadow: inset 0 3px 3px 0 darken($background-color-primary, 30%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    &__icon {
        color: lighten($text-color, 30%);
    }

    &__text {
        @include text-16-500(lighten($text-color, 30%));
    }
}