.manual-button {

    // Globals
    position: relative;
    padding: 25px;
    border-radius: 20px;
    background-color: $background-color-secondary;
    
    @include shadow-element;

    // Display
    display: flex;
    align-items: center;
    gap: 20px;

    // Elements
    &__index {

        // Globals
        position: absolute;
        left: -10px;
        padding: 4px 7px 2px;
        border-radius: 100%;
        background-color: $color-primary;

        // Texts
        text-align: center;
        @include text-label(invert($text-color));
    }

    &__icon {

        // Globals
        padding-left: 10px;

        // Texts
        color: lighten($text-color, 30%);
    }

    &__text {

        // Texts
        @include text-button;
    }
}