* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;

    .bloc-page {
        width: 100%;
    }
}

a {
    color: $text-color;
    text-decoration: none;
}