@keyframes spinner-text-appear {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
    }

    60% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(-100px);
        opacity: 0;
    }
}

@keyframes spinner-desappear {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes product-appear {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}