@mixin button-shadow {
    box-shadow: 0 8px 8px darken($background-color-primary, 16%);
}

@mixin button-text($color: $text-color) {
    color: $color;
    font-size: 16px;
    font-weight: 500;
}

@mixin title-element {
    &__title {
        font-size: 24px;
        font-weight: 700;
        @content
    }
}