@mixin shadow-element {

    // Globals
    box-shadow: 0 8px 8px darken($background-color-primary, 16%);

    // Animation
    transition: box-shadow 0.5s;

    // Actions
    &:hover {
        box-shadow: 0 12px 12px darken($background-color-primary, 26%);
    }
}

@mixin icon-like($top: 0, $right: 0, $bottom: 0, $left: 0, $base-color: $background-color-primary) {

    // Elements
    &__like {

        // Globlas
        position: absolute;

        @if ( $top != 0 ) { top: $top; }
        @if ( $right != 0 ) { right: $right; }
        @if ( $bottom != 0 ) { bottom: $bottom; }
        @if ( $left != 0 ) { left: $left; }

        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        -webkit-background-clip: text;
        background-clip: text;

        $shadow-color: darken($background-color-secondary, 30%);
        text-shadow: -1px 0 $shadow-color, 0 1px $shadow-color, 1px 0 $shadow-color, 0 -1px $shadow-color;

        // Texts
        font-size: 28px;
        color: $base-color;

        // Animations
        transition: color 1s, text-shadow 0.1s;

        // Actions
        &:hover {
            cursor: pointer;
            text-shadow: 0 0 transparent;
            color: transparent;
        }
    }
}