@mixin shadow-element {
    box-shadow: 0 8px 8px darken($background-color-primary, 16%);
}

@mixin text-16-500($color: $text-color) {
    color: $color;
    font-size: 16px;
    font-weight: 500;
}

@mixin title-element {
    &__title {
        font-size: 24px;
        font-weight: 700;
        @content;
    }
}

@mixin action-button {
    &__button {
        padding: 15px 25px;
        border-radius: 30px;
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
            
        @include shadow-element;
        @include text-16-500(invert($text-color));
        @content;

        transition: opacity 0.5s;

        &:hover {
            opacity: 0.8;
        }
    }
}

@mixin icon-like($top: 0, $right: 0, $bottom: 0, $left: 0) {
    &__like {
        position: absolute;
        @if ( $top != 0 ) { top: $top; }
        @if ( $right != 0 ) { right: $right; }
        @if ( $bottom != 0 ) { bottom: $bottom; }
        @if ( $left != 0 ) { left: $left; }

        font-size: 28px;

        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        
        -webkit-background-clip: text;
        background-clip: text;
        
        $shadow-color: darken($background-color-secondary, 30%);
        text-shadow: -1px 0 $shadow-color, 0 1px $shadow-color, 1px 0 $shadow-color, 0 -1px $shadow-color;

        color: $background-color-secondary;
        transition: color 1s, text-shadow 0.1s;
    }

    &__like:hover {
        cursor: pointer;
        text-shadow: 0 0 transparent;
        color: transparent;
    }
}

@mixin desktop-mode {
    @media screen and (min-width: (map-get($breakpoints, tablet)+1px)) {
        @content;
    }
}

@mixin tablet-mode {
    @media screen and (min-width: (map-get($breakpoints, mobile)+1px)) {
        @content;
    }
}

@mixin tablet-only-mode {
    @media screen and (min-width: (map-get($breakpoints, mobile)+1px)) and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}