.catch {

    // Globals
    padding: 40px;
    background-color: $background-color-secondary;

    // Display
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    // Elements
    @include title-element {

        // Texts
        text-align: center;
    }

    &__text {
        
        // Texts
        text-align: center;
    }

    @include action-button {

        // Globals
        margin-top: 10px;
    }

    // Responsive
    @include desktop-mode {

        // Globals
        width: 50%;
        background-color: $background-color-primary;

        // Display
        order: 2;
    }
}