.catch {
    padding: 40px;
    background-color: $background-color-secondary;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @include title-element {
        text-align: center;
    }

    &__text {
        //width: 90%;
        text-align: center;
    }

    @include action-button {
        margin-top: 10px;
    }

    @include desktop-mode {
        order: 2;
        width: 50%;
        background-color: $background-color-primary;
    }
}