header {

    // Globals
    position: relative;
    height: 60px;

    // Display
    display: flex;
    align-items: center;
    justify-content: center;
    
    // Elements
    img {

        // Globals
        width: 150px;
        height: auto;
    }
    
    a {

        // Globals
        position: absolute;
        left: 20px;

        // Texts
        color: lighten($text-color, 30%);
        font-size: larger;
    }
}