header {

    // Globals
    position: relative;
    height: 60px;

    // Display
    display: flex;
    align-items: center;
    justify-content: center;
    
    // Elements
    img {
        width: 150px;
        height: auto;
    }
    
    a {
        position: absolute;
        left: 20px;
        font-size: larger;
        color: lighten($text-color, 30%);
    }
}