.manual {

    // Globals
    padding: 40px 20px;

    // Display
    display: flex;
    flex-direction: column;
    gap: 20px;

    // Elements
    @include title-element;

    &__button {

        // Globals
        margin-left: 10px;
    
        // Responsive
        @include tablet-mode {
    
            // Display
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    // Responsive
    @include tablet-only-mode {

        // Globals
        padding: 40px 16%;
    }

    @include desktop-mode {

        // Globals
        width: 50%;
    }
}