.restaurants {

    // Globals
    padding: 50px 20px;
    background-color: $background-color-secondary;

    // Display
    display: flex;
    flex-direction: column;
    gap: 20px;

    // Elements
    @include title-element {

        // Display
        grid-column: 1 / 3;
    }

    // Responsive
    @include tablet-mode {

        // Display
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-around;
        align-content: space-around;
    }
}